
    <% if customer_signed_in? %>
      <header class="admin_header">
        <div class="header-content">
          <h3>カスタマーログイン状態</h3>
          <%= link_to 'NaganoCake', root_path, class: "logo" %>
          <ul class="flex">
            <li><%= link_to '商品一覧', items_path %></li>
            <li><%= link_to 'カテゴリ一覧', root_path %></li>
            <li><%= link_to '登録内容編集', edit_customer_path(current_customer) %></li>
            <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
          </ul>
          <%= form_tag(manage_search_path, method: :get) do %>
            <%= text_field_tag "search[content]", "", :placeholder =>"会員: 姓,名,セイ,メイ / 商品: 商品名" %>
            <%= select_tag "search[model]", options_for_select({ "会員" => "customer", "商品" => "item" }) %>
            <%= select_tag "search[method]", options_for_select({ "部分一致" => "partial", "前方一致" => "forward", "後方一致" => "backward", "完全一致" => "perfect" }) %>
            <%= submit_tag '検索', class: "btn btn-primary" %>
          <% end %>
        </div>
      </header>
    <% else %>
      <header>
        <div class="header-content">
          <h3>カスタマーログアウト状態</h3>
          <%= link_to 'NaganoCake', root_path, class: "logo" %>
          <ul class="flex">
            <li><%= link_to '新規登録', new_customer_registration_path %></li>
            <li><%= link_to 'ログイン', new_customer_session_path %></li>
          </ul>
        </div>
      </header>
    <% end %>
