<%= @admin.name %>
<%= @admin.introduction %>
<%= attachment_image_tag @admin, :image, fallback: "no_image.jpg", size: "300x200" %>
<tr>
    <td><%= @admin.name %></td>
    <td><%= @admin.introduction %></td>
</tr>
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <!-- サイドバーここから -->
    <div class='col-md-9'>
       <!-- 画像スライダーここから -->
      <div id="box">
        <div id="images">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <div class="image4"></div>
        </div>
      </div>
      <!-- 画像スライダーここまで -->
      
      <!-- メーカー投稿一覧ここから -->
      <table class="table table-hover table-bordered table-inverse">
          <thead class="table-secondary">
        　　　　<th>メーカー名</th>
              <th>商品名</th>
              <th>更新日時</th>
          </thead>
          <tbody>
              <% @items.each do |item| %>
                  <tr>
                      <td><%= item.admin.name %></td>
                      <td><%= link_to item.name,manage_item_path(item) %></td>
                      <td><%= item.updated_at %></td>
                　</tr>
              <% end %>
          </tbody>
      </table>
      <!-- メーカー投稿一覧ここまで -->
    </div>
    <!-- サイドバーここまで -->
      
    <div class='col-md-3'> 
     <!-- メーカー投稿一覧ここから -->
      <table class="table table-hover table-bordered table-inverse">
          <thead class="table-secondary">
        　　　　<th>メーカー名</th>
              <th>商品名</th>
              <th>更新日時</th>
          </thead>
          <tbody>
              <% @items.each do |item| %>
                  <tr>
                      <td><%= item.admin.name %></td>
                      <td><%= link_to item.name,manage_item_path(item) %></td>
                      <td><%= item.updated_at %></td>
                　</tr>
              <% end %>
          </tbody>
      </table>
      <!-- メーカー投稿一覧ここまで -->
      
    </div>
  </div>
</div>