<%= render 'manage/admins/header' %>
<h3>manage/items/show</h3>
<%= link_to "一覧へ",manage_items_path, class: 'btn btn-success'  %>
<h2>商品詳細</h2>
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <%= attachment_image_tag @item, :image, fallback: "no_image.jpg", size: "300x200" %>
            </div> 
            <div class="col-md-6">
                <table >
                    <tr>
                        <th>商品名</th>
                        <td><%= @item.name %></td>
                    </tr>
                     <tr>
                        <th>カテゴリ</th>
                        <td><%= @item.category.name %></td>
                    </tr>
                    <tr>
                        <th>商品説明</th>
                        <td><%= @item.introduction %></td>
                    </tr>
                    <tr>
                        <td>
                            <%= link_to "編集する", edit_manage_item_path(@item), class: "btn btn-outline-success" %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>