<%= render 'manage/admins/header' %>
<h3>manage/categories/index</h3>

<div class='container px-5 px-sm-0'>
  <!--エラーメッセージここから-->
    <% if @category.errors.any? %>
      <div id="error_explanation">
        <h2><%= @category.errors.count %> errors prohibited this obj from being saved:</h2>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <!--エラーメッセージここまで-->
     
  <div class='row'>
    <div class='col-md-12 offset-md-1'>
      <h2>カテゴリ一覧・追加</h2>
      <!-- 登録フォーム -->
      <table class='table table-hover table-inverse'>
        <%= form_with model: @category, url: manage_categories_path , local:true do |f| %>
          <table class='table table-hover table-inverse'>
            <div class="form-group">
              <td>カテゴリ</td>
              <td><%= f.text_field :name, :class =>'form-control genre_name' %></td>
              <td><%= f.submit '新規登録', class:"btn btn-success" %></td>
            </div>
          </table>
        <% end %>
      </table>
      <!-- 登録フォームここまで -->
      <!-- ジャンル一覧表示 -->
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>カテゴリ</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td>
                <%= link_to category.name,manage_category_path(category) %>
              </td>
              <td>
                <%= link_to"編集する",edit_manage_category_path(category.id) ,class:"btn btn-sm btn-success"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- ジャンル一覧表示ここまで -->
      <%= paginate @categories %>
    </div>
  </div>
</div>