<%= render 'public/customers/header' %>
<h3>public/items/index</h3>

<div class="d-flex">
    <h2 class="table-secondary mb-3 ml-3 d-inline">商品説明一覧</h2>
</div>
<table class="table table-hover table-bordered table-inverse">
    <thead class="table-secondary">
  　　　　<th>メーカー名</th>
        <th>商品名</th>
        <th>カテゴリ</th>
        <th>更新日時</th>
    </thead>
    <tbody>
        <% @items.each do |item| %>
            <tr>
                <td><%= item.admin.name %><%= link_to item.admin.name,admin_path(item.admin) %></td>
                <td><%= link_to item.name,item_path(item) %></td>
                <td><%= item.category.name %></td>
                <td><%= item.updated_at %></td>
          　</tr>
        <% end %>
    </tbody>
</table>
<%= paginate @items %>