<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='container px-5 px-sm-0'>
      <h2>商品名:<%= @item.name %></h2>
      <% if customer_signed_in? %>
            <div>
              <table class='mx-auto'>
                <tr>
                  <td>お気に入り:</td class="inner">
                  <td id="item_<%= @item.id%>"><!-- id=内にてbook.idを指定することでページ全てのいいね欄に反映される事を防ぐ（idタグはページに１回しか使えない規則を利用） -->
                    <%= render 'public/favorites/favorite-btn', item: @item %>
                  </td>
                <tr>
              </table>
            </div>
          <% end %>
      <div class='row'>
        <div class='col-md-5'>
          <%= attachment_image_tag @item, :image, :fill, 300, 300, fallback: "no_image.jpg" %>
          
          
          <div class='separate'>
            <%= link_to "商品一覧へ戻る",items_path, class: 'btn btn-success'  %>
          </div>
          
        </div>
        <div class='col-md-7'>
          
          <table class="table table-hover table-bordered table-inverse">
            <thead class="table-secondary">
              <th>カテゴリー</th>
            <tbody>
              <tr>
                <td><%= link_to @item.category.name,category_path(@item.category) %></td>
              </tr>
            </tbody>
          </table>
          
          <table class="table table-hover table-bordered table-inverse">
            <thead class="table-secondary">
              <th>販売メーカー</th>
            <tbody>
              <tr>
                <td><%= link_to @item.admin.name,admin_path(@item.admin) %></td>
              </tr>
            </tbody>
          </table>
          
          <table class="table table-hover table-bordered table-inverse">
            <thead class="table-secondary">
              <th>商品説明</th>
            <tbody>
              <tr>
                <td><%= @item.introduction %></td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
  </div>
</div>