<!DOCTYPE html>
<html>
  <head>
    <title>OsusumeJouhouIchiba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          
          <div>
            <li><%= link_to 'NaganoCake', manage_root_path, class: "logo" %></li>
          </div>
          <button class="navbar-toggler menu-trigger" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
          </button>
          
          
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li><%= link_to '商品一覧', manage_items_path,class: 'btn btn-outline-secondary mx-3 my-1' %></li>
                <li><%= link_to 'カテゴリ一覧', manage_categories_path,class: 'btn btn-outline-secondary mx-3 my-1' %></li>
                <li><%= link_to '登録内容編集', edit_manage_admin_path(current_admin),class: 'btn btn-outline-secondary mx-3 my-1' %></li>
                <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete,class: 'btn btn-outline-secondary mx-3 my-1' %></li>
              <% else %>
                <li>カスタマーログアウト状態</li>
                <li><%= link_to '新規登録', new_admin_registration_path,class: 'btn btn-outline-secondary mx-3 my-1' %></li>
                <li><%= link_to 'ログイン', new_admin_session_path,class: 'btn btn-outline-secondary mx-3 my-1' %></li>
              <% end %>
            </ul>
          </div>
          
          
        </div> 
      </nav>
    </header>
    
    
    <main>
      <p id="notice"><%= flash[:notice] %></p>
      <%= yield %>
    </main>
    
    <footer class="text-center", style="height:50px">
      <div class="container">
        <div class="footer_copyright">
          footer
        </div>
      </div>
    </footer>
  </body>
  
</html>
