<!DOCTYPE html>
<html>
  <head>
    <title>OsusumeJouhouIchiba</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
    <header class="header-footer-admin">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          
          <div>
            <%= link_to image_tag("image0.jpg", size: "80x70"), manage_root_path %>
          </div>
          <div class="ml-4 mt-2 navbar-brand">
            <h4>サトーマート</h4>
            <h2>おすすめ情報市場</h2>
          </div>
          <button class="navbar-toggler menu-trigger" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
          </button>
          
          
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
                <li><%= link_to '商品一覧', manage_items_path,class: 'btn btn-outline-secondary mx-1 my-1' %></li>
                <li><%= link_to 'カテゴリ一覧', manage_categories_path,class: 'btn btn-outline-secondary mx-1 my-1' %></li>
                <li><%= link_to 'メーカー一覧', manage_admins_path,class: 'btn btn-outline-secondary mx-1 my-1' %></li>
                <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete,class: 'btn btn-outline-secondary mx-1 my-1' %></li>
              <% else %>
                <li><%= link_to '新規登録', new_admin_registration_path,class: 'btn btn-outline-secondary mx-3 my-1' %></li>
                <li><%= link_to 'ログイン', new_admin_session_path,class: 'btn btn-outline-secondary mx-3 my-1' %></li>
              <% end %>
            </ul>
          </div>
          
        </div> 
      </nav>
      
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class='container'>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="navbar-nav ml-auto navbar-brand">
              <h5>メーカー様登録用画面</h5>
              <% if admin_signed_in? %>
              　<h5>ログインユーザー：<%= link_to current_admin.name,manage_admin_path(current_admin) %>様</h5>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    
    <main>
      <p id="notice"><%= flash[:notice] %></p>
      <%= yield %>
    </main>
    
    <footer class="text-center header-footer-admin", style="height:50px">
      <div class="container">
        <div class="footer_copyright">
            <p>CopyRight Satou Mart</p>
        </div>
      </div>
    </footer>
  </body>
  
</html>



